---
layout: default
---

<small>
  {% if page.categories contains "en" %}
    Last update:
  {% endif %}
  {% if page.categories contains "de" %}
    Letzte Aktualisierung: 
  {% endif %}
  
  {% if page.last_update %}
    {{ page.last_update | date: "%F" }}
  {% else %}
    {{ page.date | date: "%F" }}
  {% endif %}
</small>

<h1>{{ page.title }}</h1>

<!-- <p class="view">by {{ page.author | default: site.author }}</p> -->

{{content}}

{% if page.tags[0] %}
{% assign sorted_tags = page.tags | sort %}
  <small>
    tags: 
    {% for tag in sorted_tags %}
      {% if page.categories contains "de" %}
        <em><a id="{{ tag }}" href="{{ site.baseurl }}/de/topics#{{ tag }}">{{ tag }}</a></em> &nbsp
      {% endif %}
      {% if page.categories contains "en" %}
        <em><a id="{{ tag }}" href="{{ site.baseurl }}/en/topics#{{ tag }}">{{ tag }}</a></em> &nbsp
      {% endif %}
    {% endfor %}
  </small>
{% endif %}
